@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syncopate:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  scrollbar-width: none;

}

body::-webkit-scrollbar {
  display: none;
}


.material-symbols-rounded {
  font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}

/* Spotify Main Container (Body + Player) */
.spotify__container {
  display: grid;
  grid-template-rows: 85vh auto;
}

/* Spotify Body Content (Sidebar + Main Body) */
.spotify__body {
  display: grid;
  grid-template-columns: 25vw 75vw;
}

@media (max-width: 1024px) {
  .spotify__body {
    display: grid;
    grid-template-columns: auto;
  }
}

/* Spotify Content (Navbar + Track Section) */
.spotify__content {
  display: grid;
  grid-template-rows: 20% 80%;
}

/* Spotify Album Section */